body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/*.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}*/


/*===========================Open. Css for Main class="container======================*/
/*===========================Close. Css for Main class="container=====================*/



/*===========================Open. Css for Section class="main-heder-navigation"======*/
.main-header {
    background-color: #eeeeee;
}

.main-header-navigation {
    display: flex;

    margin-bottom: -11px;
    padding-top: 49px;

    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;

    background-color: #eeeeee;
}

.main-header-navigation a,
.main-header-navigation ul {
    padding: 0; 
}

.navigation-logo {
    margin-right: 202px;

    width: 160px;
}

.header-site-navigation {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}


.header-site-navigation a {
    display: block;
    padding-top: 10px;
    padding-right: 46px;
  
    vertical-align: middle;
}

.header-basket a {
    display: block;
    padding-top: 10px;

    vertical-align: middle;
}


.header-basket {
    margin-left: auto;
    display: flex;
    max-width: 117px;

}

.header-site-navigation,
.header-basket {
    list-style: none;
}

.header-site-navigation a,
.header-basket a {
    color: #000000;
}
/*А как сделать красное подчеркивание и куда это прописывать?*/
.header-site-navigation a:link,
.header-basket a:link {
    
}

.header-site-navigation a:visited,
.header-basket a:visited {

}

.header-site-navigation a:hover,
.header-basket a:hover,
.header-site-navigation a:focus,
.header-basket a:focus {
    color: #fb565a;
}

.header-site-navigation a:active,
.header-basket a:active {
    color: #000000;
    opacity: 0.3;
}

.basket {
    position: relative;
    padding-left: 42px;
}

.basket::before {
    content: "";

    position: absolute;
    top: 17px;
    left: -41px;

    width: 17px;
    height: 17px;

    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.basket:hover::before,
.basket:focus::before,
.basket:active::before {
  opacity: 1;
}
/*===========================Close. Css for Section class="main-heder-navigation"=====*/



/*===========================Open. Css for Section class="main-slider"================*/
.slider {
    position: relative;
  
    background-color: #eeeeee;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
      
    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls label {
    position: relative;
      
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
      
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";
  
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 18px;
    height: 18px;

    background: #ffffff;

    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-item {
    display: none;
    padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
}

.slider-item-button {
    display: block;
    width: 240px;
    padding: 16px 0;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;

    background-color: #fb565a;
    border: none;
}

.slider-item-button:hover,
.slider-item-button:focus {
    background-color: #e74246;
}

.slider-item-button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.btn {
    display: block;
    width: 160px;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    background-color: #fb565a;
    border-radius: 3px;
    border: none; 
}

.btn:hover,
.btn:focus {
    background-color: #e74246;
}

.btn:active {
    /*Параметр тени взял с зеплина а как взять с фотошопа?*/
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(255, 255, 255, 0.3);
}

.btn-slide {
    width: 240px;
}
/*===========================Close. Css for Section class="main-slider"===============*/



/*===========================Open. Css for Section class="service"====================*/
.service {
    margin-bottom: 40px;
    padding-bottom: 80px;

    border-bottom: 3px solid #eeeeee;  
}

.service ul {
    margin: 0 auto;
    padding-left: 0;
}

.service-list {
    display: flex;
}

.service-list li:nth-child(1),
.service-list li:nth-child(2) {
    margin-right: 100px;
}

.service-item {
    width: 300px;

    list-style: none;
}

.service-item img {
    vertical-align: bottom;
}

.service-item h3 {
    margin-bottom: 16px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #ffffff;
}

.service-item p {
    margin-bottom: 33px;

    width: 260px;
}

.btn-green {
    background-color: #00ca74;
}

.btn-green:hover,
.btn-green:focus {
    background-color: #00bc6c;
}

.btn-green:active {
    
}

.btn-yellow {
    background-color: #efc849;
}

.btn-yellow:hover,
.btn-yellow:focus {
    background-color: #eab534;
}

.btn-yellow:active {
    
}
/*===========================Close. Css for Section class="service"===================*/



/*===========================Open. Css for Section class="studio"=====================*/
.studio {
    display: flex;
    justify-content: space-between;

    margin-bottom: 28px;
}

.studio-description {
    padding-top: 34px;

    width: 660px;
}

.img-studio {
    width: 360px;
}

.studio-description p {
    margin: 0 auto;
}

.studio-description p:nth-child(1) {
    margin-bottom: 32px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
        
    background-color: #ffffff;
}
/*===========================Close. Css for Section class="studio"====================*/



/*===========================Open. Css for Section class="progress"===================*/
.progress {
    display: flex;
    justify-content: space-between;

    padding-bottom: 73px;
    border-bottom: 3px solid #eeeeee;

    margin-bottom: 47px;
}

.progress-left {
    width: 660px;
}

.progress-left span,
.header-table {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
        
    background-color: #ffffff;
}

.progress-left span {
    margin-bottom: 20px;
}

.progress-right {
    width: 360px;
}

.table caption {
    margin-bottom: 48px;
}

.table th {
    padding-bottom: 33px;

    width: 120px;

    text-align: left;

    font-size: 45px;
    line-height: 10.6px;
    font-weight: 700;
    color: #000000;
            
    background-color: #ffffff;
}

.table-text {
    font-size: 22.5px;
    
    vertical-align: super;
}

.table td {
    width: 120px;

    text-align: left;

    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #283136;
            
    background-color: #ffffff;
}
/*===========================Close. Css for Section class="progress"==================*/



/*===========================Open. Css for Section class="partner"====================*/
.partner { 
    margin-bottom: 80px;
    padding-bottom: 20px;

    border-bottom: 3px solid #eeeeee;
}

.example-title {
    padding: 0;

    display: flex;
    justify-content: space-between;

    list-style: none;
}

.partner-button {
    width: 260px;


}

.partner-button {
    opacity: 0.2;
}

.partner-button:hover,
.partner-button:focus {
    opacity: 1;
}


.partner-button:active {
    opacity: 0.1;
}
/*===========================Close. Css for Section class="partner"===================*/



/*===========================Open. Css for Section class="contacts"===================*/
.address {
    padding-top: 48px;
    padding-left: 50px;
    padding-bottom: 47px;
    padding-right: 20px;
    background-color: #ffffff;

    width: 249px;

    position: absolute;
    top: 56px;
}

.address p {
    margin: 0;

    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;

    background-color: #ffffff;
}

.address p:nth-child(1) {
    margin-bottom: 23px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
            
    background-color: #ffffff;
}

.address p:nth-child(3) {
    margin-bottom: 18px;
}

.address p:nth-child(4) {
    margin-bottom: 37px;
}



.btn-message {
    width: 219px;
}
/*===========================Close. Css for Section class="contacts"==================*/



/*===========================Open. Css for Footer class="footer-social"===============*/
.contacts {
    position: relative;

    margin-bottom: 63px;
}

.footer-social {
    display: flex;
} 

.footer-social-left {
    margin-right: 140px;

    width: 260px;
}

.footer-social-left ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    
    list-style: none;
}

.social-button {
    padding-top: 20px;
    display: block;
    width: 80px;
    height: 60px;

    background-color: #e1e1e1;

    border-radius: 50%;
  
}

.social-button:hover {
    background-color: #e74246;
}

.social-button:active {
    background-color: #d7373b;
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, .1)
}

.footer-social-right {
    width: 560px;
}

.footer-social-right h2 {
    margin-top: 6px;
    margin-bottom: 10px;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
               
    background-color: #ffffff;
}

.footer-social-right p {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #444444;
               
    background-color: #ffffff;
}

/*===========================Close. Css for Footer class="footer-social"==============*/



/*===========================Open. Css for Section class="modal modal-login"==========*/
.modal-header {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;
               
    background-color: #ffffff;
}

.feedback p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
               
    background-color: #ffffff;
}
/*Не понимаю как ниже цвет теста настроить при наведении, фокусе....и вообще я правильно это сделал,.*/
.feedback input[type="text"],
.feedback input[type="email"],
.feedback textarea[type="message"] {
    box-sizing: border-box;

    font: inherit;
    font-size: 16px;
    line-height: 18px;
  
    background-color: #ffffff;
    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.feedback input[type="text"],
.feedback input[type="email"] {
    width: 360px;
    min-height: 50px;

    padding-left: 15px;
}

.feedback textarea[type="message"] {
    width: 760px;
    min-height: 118px;

    padding-left: 15px;
    padding-top: 15px; 
}

.feedback input:focus,
.feedback textarea:focus {
    border-color: #000000;
}

.feedback input:hover,
.feedback textarea:hover {
    border-color: #b4b9bb;
   
}
/* Не понимаю как ниже сделать рамки красным*/
.feedback input:invalid,
.feedback textarea:invalid {
    color: #e74246;
    border-color: #e74246;
}

.modal-btn {
    width: 260px;
}
/*===========================Close. Css for Section class="modal modal-login"=========*/


  
 

/*===========================Open Css for catalog.html================================*/
/*===========================Open. Css for header class="main-header"=================*/
.catalog-title h1 {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: #000000;
    
    background-color: #eeeeee;
}
/*===========================Close. Css for header class="main-header"================*/



/*===========================Open. Css for section class="main-filter"================*/
.content {
    display: flex;
    flex-wrap: wrap;
}

.main-filters {
    width: 260px;
}

.main-filter fieldset {
    border: none;
}

.main-filter legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #283136;
    text-transform: uppercase;
               
    background-color: #ffffff;
}

.main-filter ul {
    list-style: none;
    
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #283136;
                   
    background-color: #ffffff;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: #000000;
}

.filter-input:disabled + label {
    color: #283136;

    opacity: 0.3;
}

.filter-button {
    width: 260px;

    color: #000000;

    background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #dfdfdf;
}

.filter-button:active {
    box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

/*===========================Close. Css for section class="main-filter"===============*/




/*===========================Open. Css for section class="catalog-additional-filters"=*/
.catalog-additional-filters {
    width: 760px;
}

.additional-filters p {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

.sort {
    list-style: none;
}

.sort-btn {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    
    border: none;
    background-color: white;
}

.sort-btn-checked {
    color: rgba(0, 0, 0, 1);
}

.sort-btn:hover,
.sort-btn:focus {
    color: rgba(0, 0, 0, 0.6);
}

.sort-btn:active {
    color: rgba(0, 0, 0, 1);
}

.catalog-item {
    width: 360px;
}

.catalog-item:hover,
.catalog-item:focus {
    border-width: 1px;
    border-color: rgb(77, 77, 77);
    box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog ul {
    list-style: none;
}

.catalog-btn {
    width: 200px;
}

.catalog-description {
    width: 360px;

    background-color: #eeeeee;
}

.catalog-description a:nth-child(1) {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #eeeeee;
}

.catalog-description p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #666666;
    
    
    background-color: #eeeeee;
}
.catalog-paginator span,
.catalog-paginator a {
    display: block;
    width: 50px;
    height: 50px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    text-align: center;

    background-color: #eeeeee;
    border-radius: 3px;
    border: none; 
}

/*Open fieldset class="filter-item */
.filter-item {
  margin: 0;
  padding: 0;
  
  border: none;
  
  /* Для демонстрации */
  width: 260px;
  margin: 50px auto; 
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
/*Close fieldset class="filter-item */



/*===========================Close. Css for section class="catalog-additional-filters"=*/

